{{!-- Navbar goes here --}}
<nav class="navbar navbar-expand-md navbar-light" style="background-color: rgb(218,165,32);">
        <a class="navbar-brand" href="#">Todo App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>          
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
            </div>
        </nav>



<div id="todos"></div>

<script>
    let todos = document.getElementById('todos');

    fetch('/todo/getTodos')
    .then((data) => data.json())
    .then((data) => {
        
        for (let i = 0; i < data.length; i++) {
            let newDiv = document.createElement('div')
            newDiv.className = 'todo';
            let name = document.createElement('span');
            name.textContent = data[i].name + '  ';
            newDiv.appendChild(name);

            let done = document.createElement('input');
            done.type = 'checkbox';
            if (data[i].done) {
                done.checked = true;
            }
            newDiv.appendChild(done);

            todos.appendChild(newDiv)
        }

        let todo = document.getElementsByClassName('todo');

       console.log(typeof todo) 
       for (let i = 0; i < todo.length; i++) {
           todo[i].style.border = "1px solid black";
       }
        
        
        })
    

</script>